;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Fri Jan  3 00:30:07 2014
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist '((48 . "buffer-read-only")))
(setq file-name-history '("~/.emacs.d/" "~/.emacs"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/root/git/dotfiles/emacs/.emacs"
  ".emacs"
  'emacs-lisp-mode
  '(hs-minor-mode hs-org/minor-mode highlight-parentheses-mode adaptive-wrap-prefix-mode global-whitespace-mode)
  1961
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

