emacs/.emacs.d/elpa/archives/
emacs/.emacs.d/eshell/
emacs/.emacs.d/url/
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/emacs-bash-completion/
emacs/.emacs.d/session.*
emacs/.emacs.d/auto-save-list/
*~
/emacs/.emacs.d/lisp/knu-device.el
/i3wm/.i3/state
/emacs/.emacs.d/elpa/mc-extras-readme.txt
/i3wm/.i3/config
/emacs/.emacs.d/global-emacs-emacsen
/emacs/.emacs.d/global-emacs-kills.el
/emacs/.emacs.d/ge-emacsen
/emacs/.emacs.d/ge-kills.el
